@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

.sign abbr{
	font-style: italic;
}

.sign{
	margin: 1em;
	text-align: center;
}

[epub|type~="z3998:song"] p{
	font-style: italic;
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"]{
	margin: 1em;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

#a-little-cloud *[epub|type~="z3998:poem"]{
	font-style: italic;
}

.card{
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	width: 75%;
}

.card header,
.card header p{
	margin: .5em auto;
}

.card header p + p{
	padding: .5em 0;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.card p,
.card + p,
.sign + p,
[epub|type~="z3998:song"] + p,
[epub|type~="z3998:poem"] + p,
.announcement + p{
	text-indent: 0;
}

.announcement{
	margin: 1em;
	text-align: center;
}

.announcement p{
	font-style: italic;
	text-indent: 0;
}

.announcement header{
	margin: 0;
}

header{
	margin: 1em;
	text-align: center;
}

header p{
	font-variant: small-caps;
	font-size: 1.25em;
}

header p + p{
	font-size: 1em;
}
