@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.initialism,
abbr.degree{
	font-variant: all-small-caps;
}

.sign abbr{
	font-style: italic;
}

.sign,
div[epub|type~="z3998:song"]{
	margin: 1em;
	text-align: center;
}

div[epub|type~="z3998:song"] p{
	display: inline-block;
	font-style: italic;
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:poem"]{
	margin: 1em;
}

*[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

*[epub|type~="z3998:poem"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

*[epub|type~="z3998:poem"] br{
	display: none;
}

#a-little-cloud div[epub|type~="z3998:poem"]{
	font-style: italic;
}

div.card{
	margin: 1em auto;
	width: 75%;
}

div.card h3,
div.card h4{
	margin: .5em auto;
}

div.card h4{
	padding: .5em 0;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

div.card p,
div.card + p,
.sign + p,
div[epub|type~="z3998:song"] + p,
div[epub|type~="z3998:poem"] + p,
div.announcement + p{
	text-indent: 0;
}

div.announcement{
	margin: 1em;
	text-align: center;
}

div.announcement p{
	font-style: italic;
	text-indent: 0;
}

div.announcement h3{
	margin: 0;
}

h4 + p{
	text-indent: 0;
}
